<h2>Articles</h2>

<h3 id="articles-top">List of Articles | <%= link_to "Add New Article", "#add-new-article" %></h3>

<div class="row">
  <div class="columns small-12">
    <table>
      <tr>
        <th>Title</th>
        <th>Body</th>
      </tr>
      <% @articles.each do |article| %>
        <tr>
          <td><%= article.title %></td>
          <td><%= article.body %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<h3 id="add-new-article">Add New Article | <%= link_to "Back To Top", "#articles-top" %></h3>
<%= render "form" %>
